<lasso-page package-path="./browser.json"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko Demo</title>

    <lasso-head/>
</head>
<body>
    <h1>Marko Demo</h1>

    <app-hello name="Frank" message-count="30"/>
    <app-hello message-count="1"/>

    <lasso-body/>
</body>
</html>