<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko Demo</title>
</head>
<body>
    <h1>Marko Demo</h1>

    Hello ${data.name}!

    <ul if="notEmpty(data.colors)">
        <li for="color in data.colors">
            $color
        </li>
    </ul>
    <div else>
        There are no colors!
    </div>

</body>
</html>