<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko Demo</title>
</head>
<body>
    <h1>Marko Demo</h1>

    <app-hello name="Frank" message-count="30"/>
    <app-hello message-count="1"/>
</body>
</html>